body{
    margin: 0;
}
main{
    background-color: whitesmoke;
    margin-top: 0px;
}
header{
    position: sticky;
    top: 0;
}

#logo{
    height: 80px;
    width: 90px;
    border-radius: 63px;
}
.food a{
    text-decoration: none;
}
header{
    display: flex;
    margin: 0px;
    background-color:rgb(255, 61, 61);
}
.heading{
    font-family: oswald;
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.heading:hover{
    color: rgb(255, 255, 0);
}
.nav{
    list-style: none;
    display: flex;
    align-items: center;
    margin: 28px 5px 5px 15px;
}
.items{
    margin-right: 23px;
    color: aliceblue;
    align-items: center;
}
#main{
    list-style: none;
    display: flex;
    width: 1470px;
    justify-content: space-evenly;
}
#sticky{
    position: sticky;
    top: 0;
}
#local{
    list-style: none;
    display: flex;
    width: 1550px;
    height: 50px;
    background-color: rgba(255, 68, 0, 0.938);
    justify-content: space-evenly;
}
.options{
    font-size: 20px;
}
.options:hover{
    border-bottom: 2px solid orangered;
}
.six{
    text-decoration: none;
    color:black;
    font-family: lato;
}
.six:hover{
    background-color: orangered;
    border-radius: 5px;
    color: white;
    padding: 4px;
}
h1{
    text-align: center;
    margin-top: 95px;
}
.food{
    list-style: none;
    margin-right: 60px;
    transition: transform 0.5s;
}
.food:hover{
    transform:scale(1.1);
}
.dishes{
    height: 159px;
    width: 159px;
    border-radius: 90px;
}
div{
    display: flex;
    justify-content: space-evenly;
}
h2{
    text-align: center;
}
.delivery{
    height: 226px;
    width: 346px;
    border-radius: 11px;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:26px 20px;
    width: 1000px;
    margin: auto;
}
.eight{
    background-color: white;
    list-style: none;
    transition: transform 0.5s;
    height: 349px;
}
.eight:hover{
    transform:scale(1.1);
}
h3{
    text-align: left;
    margin-top: 5px;
}

.seven{
    align-items: center;
    background-color: orangered;
    padding: 6px;
    font-size: 16px;
    margin:121px ;
    border-radius: 10px;
    text-decoration: none;
}
.flex{
    display: flex;
    justify-content: space-between;
}
.nine{
    background-color: green;
    color: white;
    margin-top: 5px;
}
.ten{
    display: flex;
    flex-direction: column;
    height: 10px;
    justify-content: space-evenly;
}
span{
    background-color: blue;
    color: white;
    border-radius: 104px;
    margin: 5px 5px 5px 9px;
    padding: 2px;
}
.my{
    margin-top: 5px;
}
